<!-- Heading -->
      <div class="card my-2">
        <div class="card-header card-block">
          <div class=" row">
            <label class="col-2">N/A</label>
            <div class="col-6 text-center">
              Question
            </div>
            <div class="col-2 text-center">Impact</div>
            <div class="col-2 text-center">Risk</div>
          </div>
        </div>
      </div>

      <!-- 1st Question -->
      <div class="card">
        <div class="card-header card-block">1.
          <div class="card-body row">
            <!-- checkbox -->
            <div class="field">
              <input class="is-checkradio has-background-color is-danger" id="exampleCheckboxBackgroundColorDanger" type="checkbox" name="exampleCheckboxBackgroundColorDanger" checked="checked">
              <label for="exampleCheckboxBackgroundColorDanger">Checkbox - danger</label>
            </div>
            <!-- /checkbox -->
            <div class="col-7">
              How likely is it to achieve TRL level 3 (Critical function or proof of concept established) at end of research?
            </div>
            <select class="selectpicker col-2 show-tick">
			         <option>High</option>
			         <option>Medium</option>
			         <option>Low</option>
			      </select>
            <div class="col-2 text-center">5
            	<br>
            	<div class="slidecontainer">
				  <input type="range" min="1" max="10" value=50 class="slider" id="riskQty">
				</div>
            </div>
          </div>
        </div>
      </div>

      <!-- 2nd Question -->
      <div class="card">
        <div class="card-header card-block">2.
          <div class="card-body row">
            <div class="col-8">
              How likely is it to achieve TRL level 4 (Technology validated in lab/validation of alpha prototype component/ process) at end of research?
            </div>
            <select class="selectpicker col-2 show-tick">
			  <option>High</option>
			  <option>Medium</option>
			  <option>Low</option>
			</select>
            <div class="col-2 text-center">5
            	<br>
            	<div class="slidecontainer">
				  <input type="range" min="1" max="10" value="50" class="slider" id="myRange">
				</div>
            </div>
        	
          </div>
        </div>
      </div>

      <!-- 3rd Question -->
      <div class="card">
        <div class="card-header card-block">3.
          <div class="card-body row">
            <div class="col-8">
              How likely is it to achieve TRL level 5 (Laboratory Testing of Integrated/Semi-Integrated System) at end of research?
            </div>
            <select class="selectpicker col-2 show-tick">
			  <option>High</option>
			  <option>Medium</option>
			  <option>Low</option>
			</select>
            <div class="col-2 text-center">5
            	<br>
            	<div class="slidecontainer">
				  <input type="range" min="1" max="10" value="50" class="slider" id="myRange">
				</div>
            </div>

          </div>
        </div>
      </div>

      <!-- 3rd Question -->
      <div class="card">
        <div class="card-header card-block">3.
          <div class="card-body row">
            <div class="col-8">
              How likely is it to achieve TRL level 5 (Laboratory Testing of Integrated/Semi-Integrated System) at end of research?
            </div>
            <select class="selectpicker col-2 show-tick">
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
            <div class="col-2 text-center">5
              <br>
              <div class="slidecontainer">
          <input type="range" min="1" max="10" value="50" class="slider" id="myRange">
        </div>
            </div>

          </div>
        </div>
      </div>


      <!-- 3rd Question -->
      <div class="card">
        <div class="card-header card-block">3.
          <div class="card-body row">
            <div class="col-8">
              How likely is it to achieve TRL level 5 (Laboratory Testing of Integrated/Semi-Integrated System) at end of research?
            </div>
            <select class="selectpicker col-2 show-tick">
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
            <div class="col-2 text-center">5
              <br>
              <div class="slidecontainer">
          <input type="range" min="1" max="10" value="50" class="slider" id="myRange">
        </div>
            </div>

          </div>
        </div>
      </div>


      <!-- 3rd Question -->
      <div class="card">
        <div class="card-header card-block">3.
          <div class="card-body row">
            <div class="col-8">
              How likely is it to achieve TRL level 5 (Laboratory Testing of Integrated/Semi-Integrated System) at end of research?
            </div>
            <select class="selectpicker col-2 show-tick">
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
            <div class="col-2 text-center">5
              <br>
              <div class="slidecontainer">
          <input type="range" min="1" max="10" value="50" class="slider" id="myRange">
        </div>
            </div>

          </div>
        </div>
      </div>


      <!-- 3rd Question -->
      <div class="card">
        <div class="card-header card-block">3.
          <div class="card-body row">
            <div class="col-8">
              How likely is it to achieve TRL level 5 (Laboratory Testing of Integrated/Semi-Integrated System) at end of research?
            </div>
            <select class="selectpicker col-2 show-tick">
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
            <div class="col-2 text-center">5
              <br>
              <div class="slidecontainer">
          <input type="range" min="1" max="10" value="50" class="slider" id="myRange">
        </div>
            </div>

          </div>
        </div>
      </div>